@import "../../styles/theme";

main {
    border-radius: 1.5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 41rem;
    box-shadow: 0 10px 30px 10px $neutral800;

    section {
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 2.25rem;

        h2 {
            font-size: 1.25rem;
            font-weight: 800;
        }

        &:first-of-type {
            background: $gradientLight;
            color: $neutral500;
            align-items: center;
            text-align: center;
            padding: 2rem 3rem 3rem;

            h1 {
                color: $neutral;
                font-size: 1.75rem;
                font-weight: 800;
            }
        }

        .score {
            background: $gradientDark;
            width: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2.5rem;
            aspect-ratio: 1;
            border-radius: 50%;
            color: $neutral500;
            margin-top: 1rem;

            span {
                color: $neutral;
                font-size: 4rem;
                font-weight: 800;
                margin-bottom: -0.5rem;
            }
        }

        .data {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            margin-top: 0.5rem;
        }

        button {
            background-color: $neutral200;
            color: $neutral800;
            padding: 1rem;
            border-radius: 100vmax;
            font-size: 1rem;
            margin-top: auto;
            font-weight: 800;
        }
    }
}
