$themeRed: hsl(0, 100%, 67%);
$themeYellow: hsl(39, 100%, 56%);
$themeTeal: hsl(166, 100%, 37%);
$themeBlue: hsl(234, 85%, 45%);

$gradientLight: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
$gradientDark: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

$neutral: hsl(0, 0%, 100%);
$neutral800: hsl(221, 100%, 96%);
$neutral500: hsl(241, 100%, 89%);
$neutral200: hsl(224, 30%, 27%);
