@import "../../styles/theme";

article {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    color: var(--accent);
    position: relative;
    overflow: hidden;
    font-size: 1rem;

    &::before {
        position: absolute;
        content: "";
        inset: 0;
        background-color: var(--accent);
        opacity: 0.1;
    }

    h3 {
        text-transform: capitalize;
        font-size: 1rem;
    }

    div {
        font-weight: 700;
        margin-left: auto;
        color: $neutral200;

        span {
            opacity: 0.5;
            font-weight: 700;
        }
    }
}
